.about-page {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px;
    border: 1px solid seagreen;
    border-radius: 10px;
    margin-top: 30px;
  }

  .desc {
    font-size: 15px;

    .link {
      text-decoration-line: underline;
    }
  }

  .author {
    font-size: 15px;
    margin-top: 20px;
  }

  .qrcode {

    img {
      width: 200px;
      height: 200px;
      margin-top: 20px;
    }
  }
}