@keyframes custom-loading-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-loading {
  .custom-loading-round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgb(25, 137, 250);
    border-left-color: transparent;
    animation: custom-loading-rotate 1s linear infinite;
  }
}
