@keyframes custom-loading-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-loading {
  width: 100%;
  height: 100%;
  // position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  .custom-loading-round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(25, 137, 250);
    border-left-color: transparent;
    animation: custom-loading-rotate 1s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .custom-loading-text {
    width: 100px;
    height: 30px;
    font-size: 18px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 40px;
    right: 0;
    margin: auto;
  }
}
