// #root {
//   height: 100%;
  
// }
.detail-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .desc {
    margin-top: 20px;
  }
}
